*{
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

:root{
    --white: #F1E6D9;
    --clear-orange: #F2B872;
    --green: #628619;
    --orange: #F27141;
    --clear-brown: #A66D58;
    --dark-brown: #260101;
    --black: #1A1B26;
}

@font-face {
    font-family: "Aniron";
    src: url('../fonts/anirb___.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Montserrat", sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap.woff2') format('woff2');
}

nav{
    padding: 16px;
}

body{
    display: flex;
    flex-direction: column;
}

main{    
    width: 90%;
    padding-left: 15%;
    margin-bottom: 32px;

}

header{
    text-align: center;
}

footer{
    color: white;
    padding: 16px;
    background-color: var(--black);
    text-align: center;
}

h1, h2{
    font-family: "Aniron";
}

h1{
    padding-top: 32px;
}

h2{
    text-align: center;
    font-size: xx-large;
}

h3{
    font-weight: bolder;
    font-size: x-large;
    margin-bottom: 0%;
}

img{
    width: 100%;
    margin-top: 10%;
    object-fit: cover;
    border-radius: 16px;
}

.img-recetas{
    height: 400px;
}

hr{
    height: 0.75;
    background-color: #1A1B26;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    font-weight: bold;
    color: var(--green);
}

table{
    width: 90%;
}

table, tr{
    border-bottom: 1px solid;
    border-collapse: collapse;
}

td{
    padding-top: 5px;
    padding-bottom: 5px;
}

.banner{
    width: 100%;
    margin-top: 0;
    border-radius: 0;
    height: 500px;
    box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.75);
}

.grid-estructura{
    display: grid;
    grid-template-columns: 95% 5%;
}

.separacion-comida{
    padding-top: 100px;
}

.separacion-comida-1{
    padding-top: 50px;
}

.recetas{
    margin-top: 32px;
}

/* RECETA */
.tit-receta{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: -80px;
}

.p-receta-separa{
    padding-left: 20px;
}

.grid-titu-descrip{
    display: grid;
    grid-template-rows: auto;
}

.grid-titu-descrip-2{
    display: grid;
    grid-template-columns: 45% 55%;
}

.grid-ingre-pasos{
    display: grid;
    grid-template-columns: 30% 70%;
}

.grid-ingre-pasos-2{
    display: grid;
    grid-template-columns: 40% 60%;
}

.tit-ingre-rece{
    text-align: center;
}

.receta-info{
    display: grid;
    grid-template-columns: 40% 60%;
    margin-left: 20px;
}

.gen-info-nutri{
    background-color: #f3eae0;
    padding: 32px;
    padding-top: 16px;
    border-radius: 32px;
}

.info-nutri{
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.alergenos{
    width: 80%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
    font-weight: 500;
}

.table-nutri{
    width: 80%;
}

.titu-tabla-nutri{
    padding-bottom: 15px;
}

.table-nutri-info{
    font-weight: 500;
}


/* BOTON ARRIBA
.top{
    --offset: 50px;

    position: sticky;
    margin-left: 90%;
    margin-top: calc(100% + var(--offset));

    text-decoration: none;
    padding: 10px;
    height: 45px;
    width: 30px;
    text-align: center;
    font-family: "Aniron", sans-serif;
    color: var(--white);
    background-color: var(--black);
    border-radius: 15px;
    white-space: nowrap;
}
 */

/* ENLACE FOOTER */
.web{
    color: var(--white);
}

.web:hover{
    color: #f9b233;
}

/* MOVIL */
@media only screen and (min-width: 320px) and (max-width:767px) {
    .banner{
        width: 100%;
        margin-top: 0;
        border-radius: 0;
        height: 100%;
        box-shadow: none;
    }
    
    .grid-estructura{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: none;
    }

    .grid-titu-descrip{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: none;
    }

    .grid-ingre-pasos{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: none;
    }

    .grid-ingre-pasos-2{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: none;        
    }

    .alergenos{
        display: grid;
        grid-template-columns: none;
        grid-row: auto;
    }

    main{
        width: 80%;
    }

    header{
        margin-left: 16px;
        margin-right: 16px;
    }
    
    img{
        width: 100%;
        height: 100%;
        padding-bottom: 32px;
        object-fit: cover;
        border-radius: 16px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}

@media only screen and (min-width: 320px) and (max-width:374px) {  
    .receta-info{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto;
    }

    .tit-receta{
        margin-bottom: -10px;
    }
}

@media only screen and (min-width: 375px) and (max-width:767px) {
    .receta-info{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .tit-receta{
        margin-bottom: 0px;
    }
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1107px) {
    .banner{
        width: 100%;
        margin-top: 0;
        border-radius: 0;
        height: 100%;
        box-shadow: none;
    }
    
    .grid-estructura{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: none;
    }

    .grid-titu-descrip{
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: none;
    }

    .alergenos{
        display: grid;
        grid-template-columns: none;
        grid-row: auto;
    }

    .tit-receta{
        margin-bottom: -30px;
    }

    .alergenos{
        display: grid;
        grid-template-columns: 50% 50%;
    }

    .separacion-comida-1{
        padding-top: 0px;
    }

    header{
        width: 80%;
        margin-left: 10%;
    }

    img{
        width: 100%;
        height: 100%;
        padding-bottom: 32px;
        object-fit: cover;
        border-radius: 16px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
}